<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contactanos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contactanos</ion-title>
    </ion-toolbar>


  </ion-header>

  
 <ion-grid>
 
    <ion-row>
      <ion-col align-self-center offset="2" size-xs="2" size-md="4" size-lg="4" class="ion-padding-top">
        <ion-icon name="build" class="iconSize"></ion-icon>
      </ion-col>
    </ion-row>
   <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-label>soporte@maipogrande.com</ion-label>
      </ion-row>
      <ion-row>
        <ion-label>+569 48951665 </ion-label>
      </ion-row>
       
         <ion-label>
           Direccion: La concepcion 81, Providencia.
         </ion-label>
      
       <div>
         <ion-col align-self-center size-md="6" size-lg="4" size-xs="10" offset-xs="1" offset-lg="4" offset-md="3">
           <a class="button button-block button-light ion-ios-telephone" href="tel:+569 48951665" style="text-align: center;"> 
             <ion-icon name="call-outline" class="iconSize2" color="maipo"></ion-icon>
           </a>
         </ion-col>
      </div>
    </ion-card-content>
  </ion-card>
 </ion-grid>
 
</ion-content>