<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top: 20%;">
    <ion-row>
    <ion-img src="https://cdn2.iconfinder.com/data/icons/social-media-and-payment/64/-59-512.png" class ="imgSize"style="width: 100px; height: 100px; margin-left: 25%;">
      </ion-img>
    </ion-row>
    <ion-card>

      <ion-row>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-row>
                <ion-label>Información del pedido n° : </ion-label>
              </ion-row>
              <ion-row>
                <ion-label>"asdasdasd"</ion-label>
              </ion-row>
            </ion-row>
            <ion-row>
              <ion-label>Estado :</ion-label>
            </ion-row>
            <ion-row>
              <ion-label>Fecha entrega :</ion-label> 
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-row>
  
      <ion-row>
        
      </ion-row>
    </ion-card>

</ion-grid>
</ion-content>
