<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
    <ion-icon name="power" color='maipo' (click)="logoutAction()" class="iconSize2"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col align-self-right size-xs="3" size-md="3" size-lg="3" class="ion-padding-top">
      <ion-icon name="person" class="iconSize"></ion-icon>
    </ion-col>
    <ion-row>

      <ion-col align-self-left size-xs="9"  >
        <ion-row>
          <ion-label>Bienvenido {{displayUserData?.nombrecompleto}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col align-self-center size-xs="12" >
          <ion-label>{{displayUserData?.correoelectronico}}</ion-label> 
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col align-self-right size-xs="12" >
        <ion-label></ion-label>
      </ion-col>
    </ion-row>
    
    </ion-row>
    
  </ion-row>
  <ion-row style="margin-top: 10%; margin-left: 10%;">
    <ion-label>
    </ion-label>
  </ion-row>

  <ion-card *ngFor="let Pedido of Pedidos" >
    <ion-card-content>
      <ion-row >
        <ion-label> Id del pedido : </ion-label>
        <ion-label> {{Pedido.SelectProveeSolicitud.IdSolicitud}}</ion-label>
      </ion-row>
      <ion-row >
        <ion-label> Estado del pedido : </ion-label>
        <ion-label> {{Pedido.SelectProveeSolicitud.SolicitudCliente.Estado.Descripcion}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-button expand="full" shape="round" color="success" (click)="finalizarPedido(Pedido)" *ngIf="Pedido.SelectProveeSolicitud.SolicitudCliente.Estado.Descripcion=='EN_TRANSITO' && !Pedido.Transportado">
          Finalizar pedido</ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-button expand="full" shape="round" color="success" (click)="getPedido()"  >Mostrar pedidos</ion-button>
  </ion-row>
  
 
</ion-grid>

</ion-content>
